.button {
    width: 316px;
    background-color: #0C3858;
    color: #fff;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    padding: 16px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #51B4E5;
  }